<h1>Video Player Sample</h1>

<div class="input-section">
  <label for="videoUrlInput">Video URL: </label>
  <input id="videoUrlInput" [(ngModel)]="inputVideoUrl">
</div>

<div class="button-section">
  <button (click)="updateVideoUrl(inputVideoUrl)">Load Video</button>
</div>

<div class="loop-section">
  <input type="checkbox" [(ngModel)]="loopVideo">
  <label>Loop Video</label>
</div>

<div class="video-player-section">
  <app-video-player
    [signedVideoUrl]="videoUrl"
    [loop]="loopVideo"
    *ngIf="videoUrl">
  </app-video-player>
</div>

